node_modules/
.next/
firebase-debug.log
npm-debug.log
cloud-functions-emulator.log
dist/
static/css/App.css
static/img
lib/config.ts
functions/src/config.ts
functions/src/static/img/articles/
functions/src/static/img/users/
functions/src/static/css/App.css
functions/src/serviceAccountKey.json