firebase-debug.log
yarn-error.log
cloud-functions-emulator.log
src/app/static/css/App.css
src/app/static/img
src/app/lib/config.ts
src/app/.next/
src/functions/config.ts
src/functions/static/img/articles/
src/functions/static/img/users/
src/functions/static/css/App.css
src/functions/serviceAccountKey.json
node_modules/
dist/