export const apiKey = YOUR_API_KEY;
export const authDomain = YOUR_AUTH_DOMAIN;
export const databaseURL = YOUR_DATABASE_URL;
export const projectId = YOUR_PROJECT_ID;
export const storageBucket = YOUR_STORAGE_BUCKET;
export const messagingSenderId = YOUR_MESSAGING_ID;
export const algoliaKeys = {
  ApplicationID: YOUR_ALGOLIA_APPLICATION_ID,
  APIKey: YOUR_ALGOLIA_API_KEY
};

export default {
  apiKey,
  authDomain,
  databaseURL,
  projectId,
  storageBucket,
  messagingSenderId,
  algoliaKeys
};
